<?xml version="1.0"?>
<config>
    <modules>
        <Prince_Customerattribute>
            <version>0.1.0</version>
        </Prince_Customerattribute>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_grid>Prince_Customerattribute_Block_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <prince_customerattribute_setup>
                <setup>
                    <module>Prince_Customerattribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prince_customerattribute_setup>
            <prince_customerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prince_customerattribute_write>
            <prince_customerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prince_customerattribute_read>
        </resources>
    </global>
</config>